body {
    background-color: #d4edda;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}


button {
    background-color: #58f758; 
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
    transform: scale(1.1); 
    background-color: #60f860; 
}

table {
    margin-top: 30px;
    
    width: 100%;
    border-collapse: collapse;
    background: white;
    }
th, td {      
    border: 1px solid #ccc;      
    padding: 8px;      
    text-align: center;    
}

th {      
    background-color: #c3e6cb;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    padding: 6px;
    width: 200px;
}
