body {
    background-color: #228B22; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}


button {
    background-color: #90EE90; 
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
    transform: scale(1.1); 
    background-color: #98FB98; 
}

